In [5]:
%tb
import logging

import sys
from pyspark.sql import SparkSession

from data_transformations.citibike import distance_transformer

LOG_FILENAME = 'project.log'
APP_NAME = "Citibike Pipeline: Distance Calculation"

if __name__ == '__main__':
    logging.basicConfig(filename=LOG_FILENAME, level=logging.INFO)
    arguments = sys.argv

    # if len(arguments) != 3:
    #     logging.warning("Dataset file path and output path not specified!")
    #     sys.exit(1)

    input_dataset_path = "./resources/citibike/citibike.csv"
    output_path =  "./output"

    spark = SparkSession.builder.appName(APP_NAME).getOrCreate()
    logging.info("Application Initialized: " + spark.sparkContext.appName)
    # distance_transformer.run(spark, dataset_path, output_path)
    # logging.info("Application Done: " + spark.sparkContext.appName)

    # spark.stop()

UsageError: Line magic function `%tbimport` not found.
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/root/.cache/pypoetry/virtualenvs/data-transformations-NkKf-v7k-py3.9/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/04/26 16:19:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
# Run
input_dataset = spark.read.option('header', True).csv(input_dataset_path)
input_dataset.printSchema()

root
 |-- tripduration: string (nullable = true)
 |-- starttime: string (nullable = true)
 |-- stoptime: string (nullable = true)
 |-- start station id: string (nullable = true)
 |-- start station name: string (nullable = true)
 |-- start station latitude: string (nullable = true)
 |-- start station longitude: string (nullable = true)
 |-- end station id: string (nullable = true)
 |-- end station name: string (nullable = true)
 |-- end station latitude: string (nullable = true)
 |-- end station longitude: string (nullable = true)
 |-- bikeid: string (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birth year: string (nullable = true)
 |-- gender: string (nullable = true)

In [12]:
binput_dataset.count()

3600

In [14]:
input_dataset.rdd.getNumPartitions()

1

In [8]:
input_dataset.show(10)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|         364|2017-07-01 00:00:00|2017-07-01 00:06:05|             539|Metropolitan Ave ...|           40.71534825|           -73.96024116|          3107|Bedford Ave & Nas...|         40.72311651|         -73.95212324| 14744|Subscriber|      1986|     1|
|        2142|2017-07-01 00:00:03|2017-07-01 00:35:46|             293|Lafayette St & E ...|     40.73020660529954|     -73.99102628231049|          3425|   2 Ave  & E 104 St|          40.7892105|         -73.94370784| 19587|Subscriber|      1981|     1|
|         328|2017-07-01 00:00:08|2017-07-01 00:05:37|            3242|Schermerhorn St &...|     40.69102925677968|     -73.99183362722397|          3397|Court St & Nelson St|          40.6763947|         -73.99869893| 27937|Subscriber|      1984|     2|
|        2530|2017-07-01 00:00:11|2017-07-01 00:42:22|            2002|Wythe Ave & Metro...|             40.716887|             -73.963198|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 26066|Subscriber|      1985|     1|
|        2534|2017-07-01 00:00:15|2017-07-01 00:42:29|            2002|Wythe Ave & Metro...|             40.716887|             -73.963198|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 29408|Subscriber|      1982|     2|
|         545|2017-07-01 00:00:18|2017-07-01 00:09:24|             361|Allen St & Hester St|           40.71605866|           -73.99190759|           502| Henry St & Grand St|           40.714215|           -73.981346| 21203|Subscriber|      1954|     2|
|        1496|2017-07-01 00:00:18|2017-07-01 00:25:15|            3233|     E 48 St & 5 Ave|     40.75724567911726|     -73.97805914282799|           546|E 30 St & Park Ave S|         40.74444921|         -73.98303529| 15933|  Customer|      1971|     1|
|        1495|2017-07-01 00:00:19|2017-07-01 00:25:15|            3233|     E 48 St & 5 Ave|     40.75724567911726|     -73.97805914282799|           546|E 30 St & Park Ave S|         40.74444921|         -73.98303529| 18515|  Customer|      1964|     2|
|         593|2017-07-01 00:00:27|2017-07-01 00:10:20|            3314|  W 95 St & Broadway|            40.7937704|             -73.971888|          3363| E 102 St & Park Ave|          40.7904828|         -73.95033068| 29135|Subscriber|      1982|     1|
|        1950|2017-07-01 00:00:30|2017-07-01 00:33:00|            3085|Roebling St & N 4 St|              40.71469|              -73.95739|           468|  Broadway & W 56 St|          40.7652654|         -73.98192338| 17365|Subscriber|      1983|     1|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
only showing top 10 rows

In [3]:
double_cols = ['start station longitude', 'start station latitude', 'end station longitude', 'end station latitude']
input_dataset.select(double_cols)

DataFrame[start station longitude: string, start station latitude: string, end station longitude: string, end station latitude: string]

In [41]:
# Converte columns
from pyspark.sql.types import StructField, DoubleType

double_cols = ['start station longitude', 'start station latitude', 'end station longitude', 'end station latitude']
for col in double_cols:
    input_dataset = input_dataset.withColumn(col, input_dataset[col].cast(DoubleType()))